<div class="row my-4">

    <div class="col-md-12">
        <h3>Add Post</h3>
        <hr/>
        <form [formGroup]="postForm" (ngSubmit)="onAddPost()">
            <div class="mb-3">
                <label>Title</label>
                <input type="text" class="form-control" formControlName="title"/>
                <div *ngIf="postForm.get('title').touched && !postForm.get('title').valid">
                 <div *ngIf="postForm.get('title').errors.required">Title is required</div>
                 <div *ngIf="postForm.get('title').errors.minlength">Title should be Minlength 6</div>
                </div>
            </div>
            <div class="mb-3">
                <label>Description</label>
                <textarea type="text" class="form-control" formControlName="description"> 
             <div *ngIf="postForm.get('description').touched &&  !postForm.get('description').valid"></div>
             <div *ngIf="postForm.get('description').errors.required">description  is required</div>
             <div *ngIf="postForm.get('description').errors.minlength">Title should be Minlength 10</div>
                </textarea>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary" [disabled]="!postForm.valid">Add Post</button>
            </div>
        </form>
    </div>
</div>
